body{
	color: black;
}

/*table configuration start*/	
		
		figure, figcaption {
			margin: 0;
			padding: 0;}
		figure {
			border: 1px solid black;
			
			width: 450px;
			padding: 25px;
			float:center; }
		figcaption {
			display: block;
			font-weight: bold;
			text-align: center;
			font-size: 120%;
			padding-bottom: .25em; }
		table {
			border-collapse: collapse;
			border: 2px solid black;
			margin: 10px 10px auto ; }
		thead, tfoot {
			background-color: gray;
			font-weight: bold;
			border: 1px solid black;
		}
		#sales{
			text-align: center;
		}
		th, td {
			padding: .6em .09em ;
			text-align: center;
			border: 1px solid black;
		 
		}
		th:first-child, td:first-child {
			text-align: left;
		}
		tr td:nth-child(2) {
			text-align: center;
		}
		tbody tr:nth-child(2n) {
			background-color: silver;
		}
	
   /*table configuration end*/